html {
	height: 100%;
	background-color: #ffffff;
}
body {
	height: 100%;
	font: normal 62.5% 'fira-sansregular', Verbana, Arial, Helvetica, sans-serif;
	color: #333333;
}

/* clearfix */

.container:before, .clearfix:before,
.container:after, .clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.container:after, .clearfix:after {
	clear: both;
}