extends ../main

block title
	| Главная страница

block content
	.page
		.wrapper
			img(src="/img/logo.png" class="logo")
			ul.arcad-list
				li.arcad-list__item.arcad-list-item
					span.arcad-list-item__title Основы языка и как на нём говорить правильно
					ul.arcad-child-list.hidden
						li.arcad-child-list__item Лексическая структура
						li.arcad-child-list__item Типы данных, значения и переменные
						li.arcad-child-list__item Выражения и операторы инструкции
				li.arcad-list__item.arcad-list-item
					span.arcad-list-item__title Фунции
					ul.arcad-child-list.hidden
						li.arcad-child-list__item Лексическая структура
						li.arcad-child-list__item Типы данных, значения и переменные
						li.arcad-child-list__item
				li.arcad-list__item.arcad-list-item
					span.arcad-list-item__title Обработка ошибок и отладка
					ul.arcad-child-list.hidden
						li.arcad-child-list__item Лексическая структура
						li.arcad-child-list__item Типы данных, значения и переменные
						li.arcad-child-list__item Выражения и операторы инструкции
				li.arcad-list__item.arcad-list-item
					span.arcad-list-item__title Объекты и массивы
					ul.arcad-child-list.hidden
						li.arcad-child-list__item Лексическая структура
						li.arcad-child-list__item Типы данных, значения и переменные
						li.arcad-child-list__item Выражения и операторы инструкции
				li.arcad-list__item.arcad-list-item
					span.arcad-list-item__title События
					ul.arcad-child-list.hidden
						li.arcad-child-list__item Лексическая структура
						li.arcad-child-list__item Типы данных, значения и переменные
						li.arcad-child-list__item Выражения и операторы инструкции